<!DOCTYPE html>
<html lang="fr">
    <meta charset="UTF-8">
    <title>Détection de fraude</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div id="background"></div>

    <div class="container">
        <h1>Prédire la fraude dans les services de paiement financiers(Carte de credit)</h1>
        <h3>Application basée sur le Machine Learning</h3>

        <div class="card">
            <p><strong>Réalisé par</strong></p>
            <ul class="nopoints">
                <li>Joachim QUERULE</li>
                <li>Victorien SAUVONNET</li>
                <li>Samya TAQI</li>
            </ul>

            <p><strong>Formation :</strong> Développeur IA</p>
            <p><strong>Année :</strong> 2025-2026</p>
        </div>

        <a href="/login">
            <button>Accéder à la page de login</button>
        </a>
    </div>

</body>
</html>
