body {
    font-family: Arial, sans-serif;
    background-color: hwb(230 92% 5%);
}

.login-box {
    width: 600px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
}

button {
    width: 40%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
}

.flash {
    color: red;
    font-size: 0.9em;
}
